MastoAppName: tankabot #「認証済みアプリ」にリストされるアプリ名

DBCredentials:  # MySQLデータベース接続のための資格情報（環境に応じて要変更）
    Database: rss
    Password: ****************
    Server: localhost:3306
    User: rss

YahooClientID: ***  # Yahoo!のYOLP Web APIを使うためのClient ID。https://e.developer.yahoo.co.jp/register から取得。
                    # LiveWithSun を true で使う場合に必要。

NumConcurrentLangJobs: 4    # 言語解析ジョブの同時実行数の上限（多すぎるとメモリ使いすぎでアプリが落ちる。1〜10を指定可）

Persona:   # botのアカウント情報
    Name: mybot #任意。ログ出力に使われる。
    Instance: https://example.com
    AccessToken: ***************    # Mastodonユーザー設定→「開発」→「新規アプリ」から生成。アクセス権は read profile write follow push にチェック。
    WakeHour: 6     # 起きる時刻（時）
    WakeMin: 0      # 起きる時刻（分）
    SleepHour: 22   # 寝る時刻（時）
    SleepMin: 0     # 寝る時刻（分）
    LivesWithSun: false  # trueで、太陽の出入りとともに寝起きする（要：Yahoo! APIへのユーザ登録）
    Latitude: 35.685175 # すみかの緯度
    Longitude: 139.7528    # すみかの経度
    ItemPool: 30    # プールしておくアイテムの最大数（これを超える分は、古いものから自動削除）
    MorningComments:    # 起床時につぶやくコメント。
        - やうやう白くなりゆく山際。
        - 暁露に我れ立ち濡れし。
    EveningComments:    # 就寝時につぶやくコメント
        - 山高み夕日隠りぬ浅茅原。
        - 夕闇は道たづたづし月待ちて。
    Hashtags:       # ランダムトゥートに含めるハッシュタグを一つずつ列挙（シャープ記号は不要）
        - mybot
        - news
    RandomFrequency: 24  # 24時間あたり約何回ランダムトゥートさせるか。0でランダムトゥートしない。